
/********** Layout **********/

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.column, header, section, footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.w-100, header, section, footer {
  width: 100%;
}

.section-wrapper {
  width: 100%;
  max-width: 1000px;
  padding: 4rem;
}

.top {
  height: 100vh;
}
body {
  margin: 0;
}

.m-8 {
  margin: 8px;
}

.two-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.footer-top, .footer-bottom {
  width: 100%;
  max-width: 1000px;
  /* padding: 4rem; */
}
/********** Lists **********/

ul, li {
  list-style: none;
}

ul.row {
  gap: 1rem;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-left: 0;
}

/********** Text **********/

p, a {
  color: rgb(60, 60, 60);
}

h1 {
  /* margin: 0; */
}

.fw-800 {
  font-weight: 800;
}
.fs-3rem {
  font-size: 2.5rem;
}
.small-logo {
  height: 1rem;
  margin-right: 0.5rem;
}

* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.text-center {
  text-align: center;
}
.small-text {
  font-size: 0.7rem;
  color: rgba(140, 140, 140, 1)
}
/********** Colors **********/

.blue {
  color: rgba(38, 121, 243, 1);
}
.green {
  color: rgb(0, 203, 0);
}

.blue-gradient {
  background: 
  linear-gradient(135deg, rgba(141, 185, 252, 0.8), rgba(255, 255, 255, 0) 30%),
  linear-gradient(215deg, rgba(141, 185, 252, 0.8), rgba(255, 255, 255, 0) 30%),
  linear-gradient(
    rgba(255, 255, 255, 0.8) 1%, 
    rgba(141, 185, 252, 0.5) 50%,
    rgba(255, 255, 255, 0.8) 99%
  );
}

.grey-background {
  background-color: rgba(239, 239, 242, 1);
}

.dark {
  color: rgba(32, 32, 32, 1);
}

/********** Buttons **********/

.blue-button {
  background-color: rgba(38, 121, 243, 1);
  color: white;
  padding: 0.6rem 1rem;
  border-radius: 7px;
  border: none;
  box-shadow: 1px 1px rgba(11, 11, 11, 0.1);
  text-shadow: 1px 1px rgba(11, 11, 11, 0.1);
  font-weight: 600;
}

.blue-button:hover {
  background-color: rgb(36, 108, 218);
}
.blue-button a {
  color: white;
}
a {
  text-decoration: none;
  color: black;
}
a:hover:not(.blue-button a) {
  color: rgba(90, 90, 90, 1);
}