.row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.w-100, header, section, footer {
  width: 100%;
}

ul, li {
  list-style: none;
}

.small-logo {
  height: 1rem;
  margin-right: 0.5rem;
}

* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.blue {
  color: rgba(38, 121, 243, 1);
}

.blue-gradient {
  background: linear-gradient(
    180deg,
    rgb(255, 255, 255) 5%, 
    rgb(141, 185, 252) 70%,
    rgb(255, 255, 255) 95%
  );
}

.top {
  height: 100vh;
}